* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}


.game {
    position: relative;
    width: 300px;
    height: 300px;
   
}

.text{
    position: relative;
    text-align: center;
    padding-top: 100px;
    
}

.game:hover > .red {
    animation-name: clock;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(100, 10, 20, 100);

}

.game:hover > .green {
    animation-name: antiClock;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(100, 10, 20, 100);
}

.game:hover > .blue {
    animation-name: antiClock;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(100, 10, 20, 100);
}

.game:hover > .yellow {
    animation-name: clock;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(100, 10, 20, 100);
}

.box {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 2px 2px #4a4a4a;
}

.red {
    position: absolute;
    top: 0;
    left:0;
    background-color: red;
    transform-origin: 0% 0%;
}

.green {
    position: absolute;
    top: 0;
    right:0;
    background-color: green;
    transform-origin: 100% 0%;
}

.blue {
    position: absolute;
    bottom: 0;
    left:0;
    background-color: blue;
    transform-origin: 0% 100%;
}

.yellow {
    position: absolute;
    bottom: 0;
    right:0;
    background-color: yellow;
    transform-origin: 100% 100%;
}

@keyframes clock {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes antiClock {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
};


/* --- Animation 2 ---- */

.nextGame {
    position: relative;
}

.bigBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 5px 5px rgb(34, 34, 34);
    animation-name: rotateBigBox;
    animation-duration: 2000ms;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 0;
}

.mediumBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 5px 5px rgb(34, 34, 34);
    animation-name: rotateMediumBox;
    animation-duration: 1000ms;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

.smallBox {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px 5px rgb(34, 34, 34);
    animation-name: rotateSmallBox;
    animation-duration: 1000ms;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index:2;
}

@keyframes rotateBigBox {
    0% {
        transform: rotate(0deg); 
        background-color: purple;
    }
    25% {
        transform: rotate(90deg); 
        background-color: rgb(87, 3, 87);
    }
    50% {
        transform: rotate(180deg); 
        background-color: rgb(51, 2, 51);

    }
    75% {
        transform: rotate(270deg); 
        background-color: purple;
    }
    100% {
        transform: rotate(360deg);  
        background-color: purple;

    }
}

@keyframes rotateMediumBox {
    0% {
        transform: rotate(0deg);
        background-color: rgb(142, 233, 23);
    }
    25% {
        transform: rotate(-90deg);
        background-color: rgb(70, 114, 13);
    }
    50% {
        transform: rotate(-180deg);
        background-color: rgb(54, 66, 37);

    }
    75% {
        transform: rotate(-270deg);
        background-color: rgb(54, 66, 37);
    }

    100% {
        transform: rotate(-360deg);
        background-color: rgb(70, 114, 13);

    }
}

@keyframes rotateSmallBox {
    0% {
        transform: rotate(0deg); 
        background-color: rgb(6, 94, 116);
    }
    25% {
        transform: rotate(90deg); 
        background-color: rgb(15, 52, 61);
    }
    50% {
        transform: rotate(180deg);
        background-color: rgb(15, 51, 59);
    }
    75% {
        transform: rotate(270deg);
        background-color: rgb(15, 51, 59);
    }
    100% {
        transform: rotate(360deg);
        background-color: rgb(40, 120, 139);

    }
}




